.nav {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}

.dropdown {
    position: relative;
    display: flex;
    justify-content: space-between;
    transition: 0.5s all;
}

.dropdown_name {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 16px;
    color: #fff;
    border: none;
    padding: 14px 40px;
    border-radius: 10px;
    cursor: pointer;
    background: linear-gradient(135deg, #ff00d2, #fed90f, #f5022a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 300% 300%;
    animation: gradient 4s ease-in-out infinite;
}
@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

.dropdown_img {
    zoom: 100%;
    border-radius: 50%;
    object-fit: cover;
    width: 34px;
    height: 24px;
}

.dropdown_content {
    display: none;
    position: absolute;
    background-color: rgba(255,255,255,0.6);
    min-width: 210px;
    z-index: 1;
    margin-top: 60px;
    margin-left: 20px;
    border-radius: 10px;
}

.show_dropdown {
    display: block;
}

.dropdown_content a {
    color: #000c;
    padding: 15px 16px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 15px;
    border-radius: 10px;
    font-weight: bold;
    margin-top: 5px;
}
.dropdown_content span {
    font-weight: bold;
}

.dropdown_content a:hover {
    color: #fff;
    background-color: rgb(0,0,0,0.5);
    transition: 0.5s all;
}

.dropdown_content a:hover span {
    color: #4097fe;
}

.dropdown_welcome h6 {
    font-weight: bold;
    color: #333;
    text-align: center;
    font-size: 16px;
    margin-top: 10px;
}
.dropdown_welcome i {
    width: 90%;
    height: 2px;
    display: flex;
    margin-left: 10px;
    background: #000;
    position: absolute;
    border-radius: 5px;
}